.gallery-title {
    text-align: center;
    color: #4b1827;
    padding-bottom: 3%;
}

 .gallery-container{
    padding: 3% 7%;
    width: 95%;
    /* min-height: 100vh; */
    position: relative;
    margin: 0 auto;
}

.gallery-container .media-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    margin: 20px auto;
}

.gallery-container .media-container .media {
    height: 220px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.3);
    background-color: #000;
    overflow: hidden;
    cursor: pointer;
}

.gallery-container .media-container .media img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.9;
    transition: all 0.3s linear;
}

.gallery-container .media-container .media img:hover{
    opacity: 1;
    transform: scale(1.1);
}

.gallery-container .popup-media {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
}

.gallery-container .popup-media img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    max-width: 95%;
    max-height: 95%;
    object-fit: contain;
}
.gallery-container .popup-media span {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 50px;
    font-weight: bolder;
    z-index: 10000;
    cursor: pointer;
    color: #fff;
    user-select: none;
    transition: color 0.3s;
}

.gallery-container .popup-media span:hover {
    color: rgba(255, 255, 255, 0.8);
}

.gallery-container .popup-media span:active {
    color: rgba(255, 255, 255, 0.5);
}

 .gallery-container {
    @media (max-width: 480px) {
      display: none;
    }
  }

.arrow-icon {
    color: #4b1827;
    background-color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 10px;
    transition: all 0.3s;
}

.left-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 3%;
    z-index: 100000;
}

.right-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 100000;
    right: 3%;
}

.arrow-icon:hover {
    color: white;
    background: #4b1827;
    cursor: pointer;
}

.arrow-icon:active {
    background-color: #6e4551;
    transition: all linear 0.2s;
  }