.heading {
    color: #4b1827;
    font-weight: bold;
}

.footer-container {
    padding: 5% 2% 3%;
    color: black;
    font-weight: 300;
}

.contact-address{
    padding-bottom: 5%;
    
}

.select-text {
    user-select: text;
}

.select-text:hover{
    cursor: text;
}

.useful-link-text{
    color: black;
    text-decoration: none;
}
.useful-link-text:hover{
    color: #808080;
    cursor: pointer;
}

.tileMe li {
    display: inline;
    float: left;
    padding-right: 0.4rem;
}

.tileMe li:hover {
    opacity: .8;
}

.map {
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.lower-footer{
    border:solid;
    background-color: #4b1827;
}
.copyright{
    color: #eebc79;
    text-align: center;
    margin: 0%;
    padding: 1.5% 0;
}